<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

 
  <!--加载 springmvc.xml文件-->                                          
  <servlet>
    <servlet-name>springmvc003</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc-servlet.xml</param-value>
    </init-param>
     <!-- 上传图片web.xml配置 -->
    <multipart-config>
            <!-- <max-file-size>5242880</max-file-size> --><!--上传单个文件的最大限制5MB -->
            <!-- <max-request-size>20971520</max-request-size> --><!--请求的最大限制20MB，一次上传多个文件时一共的大小 -->
    </multipart-config>
  </servlet>
  <servlet-mapping>
        <servlet-name>springmvc003</servlet-name>
           <!-- /代表所有请求格式 -->
         <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- beans.xml --> 
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
     <param-name>contextConfigLocation</param-name>
     <param-value>classpath:beans.xml</param-value>
  </context-param>
  
  <!-- cxf -->
	<servlet>
		<servlet-name>cxf</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<!-- 配置文件路径配置，可以使用默认值 "/WEB-INF/cxf-servlet.xml" -->
		<!-- <init-param>
			<param-name>config-location</param-name>
			<param-value>classpath:cxf-servlet.xml</param-value>
		</init-param> -->
	</servlet>
	<servlet-mapping>
		<servlet-name>cxf</servlet-name>
		     <!-- WSDL -->
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
   <!--  过滤器    -->
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--index.jsp页面-->
  <welcome-file-list>
    <welcome-file>/views/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>